div {
  border: 2px solid #ccc;
  margin-top: 40px;
  padding: 20px 20px 200px 20px;
}

span {
  background: #e7e7e7;
  border: 2px solid #ccc;
  padding: 10px;
  position: relative; 
  /*Ele esta relativo a div que está dentro, ou seja, se colocar um
  bottom: 20px; ele vai pegar 20px do bottom da div que ele está dentro*/ 
  top: -30px;
}

.fixo{
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
}